#tabMenuNode_tab_menu{
    font: "Arial" !important;
    color: black !important;
    position: absolute; 
    border: 1px solid rgba(179, 179, 179, 0.737);
    border-radius: 5px;
    box-shadow: 0px 1px 4px -1px grey;
    background: white;
    z-index: 2000;  
    overflow: auto; 
    display: block;
    color:rgb(32, 32, 32) !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#tabMenuNode_tab_menu::-webkit-scrollbar{
    border-radius: 0 3px 3px 0 !important;
}
#tabMenuNode_tab_menu::-webkit-scrollbar-thumb{
    background: rgb(192, 192, 192) !important;
    border-radius: 9px !important;
    border: 3px solid transparent !important;
    background-clip: content-box !important;
}
#tabMenuNode_tab_menu::-webkit-scrollbar-thumb:hover{
    background: rgb(153, 153, 153) !important;
    border-radius: 9px !important;
    border: 3px solid transparent !important;
    background-clip: content-box !important;
}

#tabMenuNode_tab_menu::-webkit-scrollbar-track{
    border-left: 1px solid #a9a9a975 !important;
}

.tabMenuNode_tab_list{
    list-style: none;
    padding: 0 2%;
    margin: 4% !important;
    border: 1px solid #969696;
    /* box-shadow: 0px 0px 5px -1px #a9a9a9; */
    border-radius: 5px;
}

.tabMenuNode_tab_list.current_window{
    border: 1.5px solid rgb(0 28 243 / 52%);
    box-shadow: 0px 0px 5px -1px rgb(0 28 243 / 35%);
}

.tabMenuNode_tab_item{
    min-width: 0;
    margin: 2% 0;
    display: flex;
    align-items: center;
    min-width: 0;
    /* font-size: 0.5rem; */
    box-sizing: border-box;
    padding: 0.2rem 0.3rem 0.2rem 0;    
    border-radius: 3px; 
    cursor: pointer;
}

.tabMenuNode_tab_item:before{
    content: "" !important;
}

.tabMenuNode_tab_item .tab_item_title{
    width: 85%;
}

.tabMenuNode_tab_item:hover{
    background: #e0e0e0;   
}

.tab_item_close_btn{
    fill:#7c7c7c;
}
.tab_item_close_btn:hover{
    /* visibility: visible; */
    fill:#2e2e2e !important;
    border-radius: 5px;
    background: #ababab;
    transform: scale(0.9);
}

.tabMenuNode_tab_item span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabMenuNode_tab_item.isActive{
    font-weight: bold;
    border: 1px solid rgb(128, 128, 128);
    box-sizing: border-box;
    color: black !important;
}

.tab_list_web_icon, .tab_list_blank_icon{
    width: 1rem;
    height: 1rem !important;
    margin: 0 0.3rem;
}

.tab_list_blank_icon{
    transform: scale(1.5);
}

.tab_menu_top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    margin: 0;
    margin-bottom: 3%;
    padding: 3% !important;
    z-index: 30;
    box-sizing: border-box;
    box-shadow: 0px -1px 4px 1px darkgrey;
    font-size: 14px !important;
}

.tab_menu_top_bar > input {
    height: 100%;
    margin: 0 !important;
    max-width: 50%;
    border: 1px solid #a5a5a5 !important;
    border-radius: 5px !important;
    padding: 1% !important;
    box-sizing: border-box;
    box-shadow: none !important;
    /* font-size: 0.9rem; */
}
.tab_menu_top_bar > input:focus{
    border: 1.5px solid rgb(0 28 243 / 52%) !important;
}
.tab_menu_top_bar > input:focus-visible{
    outline: none !important;
}

.options_container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tabMenuNode_select_container, .tabMenuNode_checkbox_container {
    line-height: normal;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2px;
    font-size: 12px !important;
}

.tabMenuNode_font_size_select, #other_windows_checkbox{
    font-size: 12px !important;
    cursor: pointer;
}

.tabMenuNode_font_size_select:focus-visible{
    outline: none;
}

#other_windows_checkbox {
    margin: 0 !important;
    margin-right: 2% !important;    
}

#other_windows_checkbox_label {
    line-height: normal;
    cursor: pointer;
    margin: 0 !important;
    font-weight: normal !important;
}
